.box {
  max-width: 800px;
  margin: 250px auto;
  border: 1px solid #f5f1f1;
  border-width: 2px;
  border-radius: 1em;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.box h2 {
  font-size: 30px;
  padding: 15px;
  margin-bottom: 8px;
  font-family:'Times New Roman', Times, serif
}

hr {
  width: 100%;
}

.checkbox {
  display: grid;
}
.input-checkbox{
  margin: 18px;
  height: 2em;
  width:  2em;

}

.input-field{
  font-size: 1rem;
  margin-top: 18.8px;
  width: 600px;
  height: 20px;
  position:absolute;
  margin-left: 50px;
  border: none;
  
}

.add {
  cursor: pointer;
  display: grid;
  grid-template-columns: 30px 30px;
  grid-template-rows: auto;
  width: 190px;
 
}

.all {
  cursor: pointer;
  display: grid;
  grid-template-columns: 30px 30px;
  grid-template-rows: auto;
  margin-left: 40px;
 
 
}
.complete {
  cursor: pointer;
  display: grid;
  grid-template-columns: 30px 30px;
  grid-template-rows: auto;
  width: 500px;
 
}

.add-task{
  position: absolute;
  margin-left: 25px;
  margin-top: 10px;
  color:grey;
}

.all-task{
  position: absolute;
  margin-left: 25px;
  margin-top: 10px;
  color:grey;
}

.completed-text{
  position: absolute;
  margin-left: 25px;
  margin-top: 10px;
  color:grey;
}

 .icon {
  height: 20px;
  width:  20px;
  margin-top: 10px;
  color:grey;
}

.minus {
  position:absolute;
  margin-left: 700px;
  margin-top: 12px;
  cursor: pointer;
}

.tabs {
 display: grid;
 grid-template-columns: 100px 100px 100px;
 width: 350px;
 height: 50px;
 margin-left: auto;
 margin-right: auto;

}

